<div class="jumbotron">
  <h1 class="display-4"><%= I18n.t('welcome') %></h1>
  <p class="lead"><%= t('messengs.welcome_text') %></p>
  <hr class="my-4">
  <p><%= t('messengs.menu_welcome_text') %></p>
<%= render "menu" %>
</div>